@import url("../vendor/normalize.css");
@import url("../blocks/page/page.css");

/*header*/
@import url("../blocks/header/header.css");
@import url("../blocks/header/__lang-links/header__lang-links.css");
@import url("../blocks/header/__lang-link/header__lang-link.css");
@import url("../blocks/header/__lang-link/_type/header__lang-link_type_active.css");

/*lead*/
@import url("../blocks/lead/lead.css");
@import url("../blocks/lead/__title/lead__title.css");
@import url("../blocks/lead/__subtitle/lead__subtitle.css");
@import url("../blocks/lead/__image/lead__image.css");
@import url("../blocks/lead/__image-container/lead__image-container.css");
@import url("../blocks/lead/__caption/lead__caption.css");

/*intro*/
@import url("../blocks/intro/intro.css");
@import url("../blocks/intro/__title/intro__title.css");
@import url("../blocks/intro/__text/intro__text.css");
@import url("../blocks/intro/__list/intro__list.css");
@import url("../blocks/intro/__list-span-accent/intro__list-span-accent.css");

/*photo-grid*/
@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/photo-grid/__item/photo-grid__item.css");

/*places*/
@import url("../blocks/places/places.css");
@import url("../blocks/place/place.css");
@import url("../blocks/place/__title/place__title.css");
@import url("../blocks/place/__image/place__image.css");
@import url("../blocks/place/__website/place__website.css");
@import url("../blocks/place/__url-heading/place__url-heading.css");
@import url("../blocks/place/__link/place__link.css");
@import url("../blocks/place/__paragraph/place__paragraph.css");
@import url("../blocks/place/__paragraphs/place__paragraphs.css");

/*cover*/
@import url("../blocks/cover/cover.css");
@import url("../blocks/cover/__background/cover__background.css");
@import url("../blocks/cover/__overlay/cover__overlay.css");
@import url("../blocks/cover/__title/cover__title.css");
@import url("../blocks/cover/__subtitle/cover__subtitle.css");

/*footer*/
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__link/footer__link.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");

/*fonts */

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter-Regular.woff?v=3.18") format("woff");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-Bold.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter-Bold.woff?v=3.18") format("woff");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/Inter-Black.woff2?v=3.18") format("woff2"),
    url("../fonts/Inter-Black.woff?v=3.18") format("woff");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px){
    .lead__subtitle{
        margin-bottom: 56px;
    }
    .lead__image{
        width: 928px;
        height: 580px;
    }


    .intro {
        margin: 80px auto 92px auto;
        padding: 0;
        max-width: 928px;
    }

    .photo-grid{
        max-width: 928px;
        margin: 0 auto;
    }

    .places {
        margin: 92px auto;
        max-width: 928px;
    }

    .place__image {
        width: 440px;
        height: 440px;
    }

    .cover{
        max-width: 100%;
        height: 640px;
    }

    .cover__title{
        top: 32%;
        left: 22%;
    }

    .cover__subtitle{
        top:60%;
        left: 33%;
    }

    .cover__background{
        width: 100%;
        height: 640px;
    }

    .cover__overlay{
        width: 100%;
        height: 640px;
    }
}

@media all and (max-width: 768px) {
    .header {
        width: 720px;
        margin: 0 auto;
    }

    .lead__image {
        width: 768px;
        height: auto;
    }

    .intro{
        max-width: 720px;
    }

    .photo-grid{
        max-width: 720px;
    }

    .places{
        max-width: 720px;
    }

    .place{
        gap: 28px;
    }

    .place__title{
        max-width: 330px;
        font-size: 42px;
        line-height: 1.1;
    }

    .place__website{
        padding: 0;
        margin: 0 0 10px 0;
    }

    .place__image {
        width: 340px;
        height: 340px;
    }

    .cover {
        max-width: 100%;
        height: 480px;
    }

    .cover__background{
        width: 100%;
        height: 480px;
    }

    .cover__overlay{
        width: 100%;
        height: 480px;
    }

    .place__paragraph{
        font-size: 16px;
    }

    .cover__title {
        top: 22%;
        left: 13%;
    }

    .cover__subtitle {
        top: 61%;
        left: 27%;
    }

    .footer{
        margin: 0 auto;
        width: 720px;
    }
}

@media all and (max-width: 320px) {
    .header {
        width: 288px;
        margin: 0;
        padding: 16px;
    }

    .header__logo{
        width:142px;
    }

    .header__lang-link{
        font-size: 18px;
        line-height: 1.11;
    }

    .lead{
        margin-top: 38px;
    }

    .lead__title{
        font-size: 40px;
        line-height: 1.1;
    }

    .lead__subtitle{
        width: 288px;
        margin: 16px auto 40px auto;
        font-size: 16px;
        line-height: 1.25;
    }
    .lead__image {
        width: 100%;
    }

    .lead__caption{
        margin-left: 16px;
    }

    .intro {
        width: 288px;
        margin: 64px auto;
    }

    .intro__title{
        font-size: 32px;
        line-height: 1.09;
    }

    .photo-grid {
        max-width: 288px;
        gap: 12px;
    }

    .places {
        max-width: 320px;
        margin: 64px auto;
    }

    .place{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin-left: 16px;
    }

    .place__website {
        width: 288px;
    }

    .place__image {
        width: 320px;
        height: 320px;
    }

    .place__paragraph {
        font-size: 16px;
        width: 288px;
        margin: 0 auto;
    }

    .cover__title{
        top: 10%;
        left: 0;
        font-size: 32px;
        line-height: 1.09;
    }

    .cover__subtitle{
        font-size: 14px;
        line-height: 1.14;
        width: 288px;
        top: 26%;
        left: 4%;
    }

    .cover__background {
        height: 200px;
    }

    .cover__overlay {
        height: 200px;
    }
}